@import '../../_shared';

// local variables
$tag-border-width: 1px;
$tag-margin: 2px;
$tag-border-radius: 5px;
$tag-padding: 8px;

div.tag {
  @extend %non-selectable;
  color: #FFF;
  display: inline-block;
  border: $tag-border-width solid;
  margin: $tag-margin;
  border-radius: $tag-border-radius;

  span {
    padding: 0 $tag-padding 0 $tag-padding;
  }

  &:hover span {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}