@import '../../_shared';

// local variables
$skill-novice-light: hsl(16, 100%, 50%);
$skill-intermediate-light: hsl(39, 100%, 50%);
$skill-advanced-light: hsl(60, 100%, 50%);
$skill-expert-light: hsl(84, 100%, 50%);

@include keyframes(animate-skill) {
  from { background-position: 0 0; }
  to { background-position: 0 100px; }
}
@include fade-body-text(transition-expand-dark, null, $theme-dark, null, $theme-light);

.grid-skills {
  .head-collapse.has-body {
    .skill {
      .label:after {
        @include fa-pseudo("\f0d7");
        margin-left: 5px;
      }
    }

    &.expanded {
      @include animation(transition-expand-dark .5s ease-in-out 0s alternate forwards);
      .skill {
        .label {
          @include transform(scale(1.1));
          &:after {
            @include animation(animate-toggle .2s linear 0s alternate forwards);
          }
        }
        .skill-bar > div {
          @include animation(animate-skill 2s linear infinite);
        }
      }
    }

    &:not(.expanded):hover .skill {
      &.skill-novice .label { color: $skill-novice-light; }
      &.skill-intermediate .label { color: $skill-intermediate-light; }
      &.skill-advanced .label { color: $skill-advanced-light; }
      &.skill-expert .label { color: $skill-expert-light; }
      .label {
        @include animation(grow-text .5s ease-in-out 0s alternate forwards);
      }
      .skill-bar > div {
        @include animation(animate-skill 2s linear infinite);
      }
    }
  }

  .body-collapse {
    padding: 20px;
    &.expanded {
      @include animation(transition-expand-dark .5s ease-in-out 0s alternate forwards);
    }

    ul {
      margin: 0;
    }
  }
}