@import '../../_shared';

// local variables
$title-margin-top: 2em;

div.loader {
  @extend %text-centered;
  color: transparent;
  background-color: $theme-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  
  .loader-text {
    @extend %non-selectable;
    &:not(.hidden) {
      @include fade-text(fade-in, transparent, #FFF);
      animation: fade-in 2s ease-in forwards;
    }
  }
  h2 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin: $title-margin-top 0 0 0;
  }
}