@import '../../_shared';

// local variables
$card-width: 500px;
$card-top-spacing: 40px;
$card-body-spacing: 10px;

.card.project {
  margin: auto;
  margin-top: $card-top-spacing;
  max-width: $card-width;
  
  .card-img-top {
    @extend %non-selectable;
  }

  .card-buttons {
    @include size(0);
    @include transform(translateY(-25px));
    position: relative;
    z-index: 2;
    white-space: nowrap;
    margin-left: auto;
  }

  .card-body {
    @extend %theme-light-background;
    text-align: left;
    border-top: 1px solid #262626;

    .card-title {
      margin-top: $card-body-spacing;
    }

    div.tools {
      margin: $card-body-spacing;
    }
  }
}