@import '../../_shared';

@mixin transformStyle($style) {
  -webkit-transform-style: $style;
     -moz-transform-style: $style;
          transform-style: $style;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
          animation: $animation;
}

div.shape {
  @include size(100%);
  @include transformStyle(preserve-3d);
  position: absolute;

  &.animated {
    // note: spin-shapes keyframe dynamically generated in polyhedrons.js
    @include animation(spin-shapes 5s 1s alternate 2 both);
  }

  &:not(.animated) {
    display: none;
  }
}