@import '../../_shared';

// local variables
$shape-size: 130px;
$perspective: 300px;

@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
     -moz-perspective: $perspective;
          perspective: $perspective;
}

div.scene {
  @extend %center-fixed;

  >div.shapes {
    @include size($shape-size);
    @include perspective($perspective);
    margin: auto;
  }
}