@import '../../_shared';

@include keyframes(animate-toggle) {
  to { @include transform(rotate(-180deg)); }
}
@include keyframes(grow-text) {
  to { @include transform(scale(1.1)); }
}
@include fade-body-text(transition-expand-light, null, $theme-light, null, $theme-accent);

.grid-experience {
  .head-collapse {
    @extend %non-selectable;
    padding-top: 60px;

    svg {
      @media screen and (max-width: 768px) { font-size: 10em; }
      @media screen and (min-width: 768px) and (max-width: 992px) { font-size: 6em; }
      @media screen and (min-width: 992px) { font-size: 8em; }
    }

    h5 {
      margin: 0;
      padding: 1em;
    }

    &.has-body {
      h5:after {
        @include fa-pseudo("\f0d7");
        margin-left: 10px;
      }
      
      &:not(.expanded):hover {
        svg { @include animation(grow-text .5s ease-in-out 0s alternate forwards); }
        h5 { color: #17A2B8; }
      }
    }

    &.expanded {
      @include animation(transition-expand-light .5s ease-in-out 0s alternate forwards);
      svg { @include transform(scale(1.1)); }
      h5:after { @include animation(animate-toggle .2s linear 0s alternate forwards); }
    }
  }

  .body-collapse {
    padding: 20px;
    &.expanded { @include animation(transition-expand-light .5s ease-in-out 0s alternate forwards); }
  }
}
