@import '../../_shared';

// local variables
$skill-bar-height: 18px;
$skill-bar-border-width: 2px;
$skill-bar-border-color: #000;
$skill-bar-background-color: #FFF;
$skill-bar-stripe-angle: -45deg;
$skill-bar-stripe-width: 5px;
$skill-novice-light: hsl(16, 100%, 50%);
$skill-novice-dark: hsl(16, 100%, 40%);
$skill-intermediate-light: hsl(39, 100%, 50%);
$skill-intermediate-dark: hsl(39, 100%, 40%);
$skill-advanced-light: hsl(60, 100%, 50%);
$skill-advanced-dark: hsl(60, 100%, 40%);
$skill-expert-light: hsl(84, 100%, 50%);
$skill-expert-dark: hsl(84, 100%, 40%);

div.skill {
  @extend %non-selectable;
	text-align: center;
  
  >div.skill-bar {
    height: $skill-bar-height;
    border: $skill-bar-border-width solid $skill-bar-border-color;
    border-radius: $skill-bar-height;
    overflow: hidden;
    background-color: $skill-bar-background-color;

    >div {
      float: left;
      height: 100%;
      width: 0;
      transition: width 1.5s ease-out;

      &:after {
        content: '';
        position: relative;
        display: inline-block;
        height: calc(100% + 2px);
        width: $skill-bar-border-width;
        background-color: $skill-bar-border-color;
        left: calc(50% + 1px);
        bottom: 2 * $skill-bar-border-width;
      }
    }
  }

  // Skill bar custom styling
  &.skill-novice > div.skill-bar > div {
    @include stripe-background($skill-bar-stripe-angle, $skill-bar-stripe-width, $skill-novice-light, $skill-novice-dark)
  }
  &.skill-intermediate > div.skill-bar > div {
    @include stripe-background($skill-bar-stripe-angle, $skill-bar-stripe-width, $skill-intermediate-light, $skill-intermediate-dark);
  }
  &.skill-advanced > div.skill-bar > div {
    @include stripe-background($skill-bar-stripe-angle, $skill-bar-stripe-width, $skill-advanced-light, $skill-advanced-dark);
  }
  &.skill-expert > div.skill-bar > div {
    @include stripe-background($skill-bar-stripe-angle, $skill-bar-stripe-width, $skill-expert-light, $skill-expert-dark);
  }
}

// Skill bar animations
.track-visible.was-visible div.skill {
  &.skill-novice > div.skill-bar > div { width: 25%; }
  &.skill-intermediate > div.skill-bar > div { width: 50%; }
  &.skill-advanced > div.skill-bar > div { width: 75%; }
  &.skill-expert > div.skill-bar > div { width: 100%; }
}