ul.attachments {
  margin: 0px;
  padding: 0px;
}

ul.attachments > li {
  display: inline-block;
  text-align: center;
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
}

ul.attachments a {
  color: #262626;
  text-decoration: none;
}

section.light ul.attachments a {
  color: rgb(49,73,102);
}

ul.attachments a > div:nth-child(1) {
  font-size: 40px;
}

ul.attachments a > div:nth-child(2) {
  font-size: 12px;
}