ul.cardline {
  display: block;
  padding: 0;
  width: 80%;
  margin: auto;
  color: black;
  padding: 20px;
}

ul.cardline > li {
  display: block;
  background-color: white;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
}

ul.cardline > li:before {
  content: '';
  position: relative;
  display: block;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #cccccc;
  float: right;
  left: 2px;
  bottom: 2px;
}

section.dark ul.cardline > li:before {
    background-color: #262626;
}

section.light ul.cardline > li:before {
    background-color: rgb(49,73,102);
}

ul.cardline > li > * {
  margin-left: 20px;
  margin-right: 20px;
}

ul.cardline > div {
  position: relative;
  width: 5px;
  height: 50px;
  background-color: #cccccc;
  left: calc(50% - 2.5px);
  border-radius: 5px;
  top: 20px;
  margin-bottom: 40px;
}

ul.cardline > div:before, ul.cardline > div:after {
  content: '';
  background-color: #cccccc;
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  bottom: 10px;
  border-radius: 50%;
  right: calc(50% - 0.5px);
}

ul.cardline > div:before {
  bottom: 15px;
}

ul.cardline > div:after {
  top: calc(100% - 2px);
}

ul.cardline img.thumbnail {
  display: block;
    border: 1px solid #262626;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.cardline table {
    height: 100%;
    text-align: center;
}

ul.cardline table tr {
    vertical-align: middle;
    font-size: 15px;
}

ul.cardline h2 {
  font-size: 30px;
  margin-top: 10px;
}