section.dark {
    color: #FFF;
    background-color: #262626;
}

section.light {
    color: #FFF;
    background-color: rgb(49,73,102);
}

.imbed {
    padding: 20px;
}

/* Modified from site styles */
section {
	padding: 50px 0 100px 0;
	overflow: hidden;
}

h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 45px;
	text-align: center;
	margin-bottom: 30px;
}

h4 {
	font-family: 'Poiret One', cursive;
	font-size: 32px;
}

h5 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
}

h6 {
	margin-top: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
}

p, li, th {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}