@import '../../_shared';

// local variables
$text-shadow-thickness: 0.3em;

.splash {
  @extend %theme-dark-background;
  @extend %text-centered;
  z-index: -1;
  position: relative;
  min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 25% 100%;
	background-attachment: fixed;
	text-shadow: black $text-shadow-thickness $text-shadow-thickness $text-shadow-thickness;
  
  table {
    @extend %center-fixed;
    width: 100%;
  }
}