#projects {
	text-align: center;
}

#projects .card {
	margin-top: 40px;
	max-width: 500px;
	display: inline-block;
}

#projects .card-body {
	text-align: initial;
}

#projects .card:hover > .card-header {
    -webkit-animation: animate-card-header 0.5s ease-in-out 0s 1 alternate forwards;
            animation: animate-card-header 0.5s ease-in-out 0s 1 alternate forwards;
}

#projects :hover {
    -webkit-animation: animate-card-border 0.5s ease-in-out 0s 1 alternate forwards;
            animation: animate-card-border 0.5s ease-in-out 0s 1 alternate forwards;
}

#projects .tools {
	padding: 0px;
	color: #FFF;
	cursor: default;
}

#projects .tools > li {
	display: inline-block;
	border: 1.5px solid;
	padding: 0 8px 0 8px;
	margin: 2px;
	border-radius: 5px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#projects .tools > .language {
	background-color: #03A9F4;
	border-color: #015a83;
}

#projects .tools > .framework {
	background-color: #4CAF50;
	border-color: #285c29;
}

#projects .tools > .library {
	background-color: #FF9800;
	border-color: #814e00;
}

#projects .tools > .platform {
	background-color: #9C27B0;
	border-color: #54155f;
}

@-webkit-keyframes animate-card-header {
	to { 
		background-color: #17A2B8;
		color: white;
	}
}

@keyframes animate-card-header {
	to { 
		background-color: #17A2B8;
		color: white;
	}
}

@-webkit-keyframes animate-card-border {
	to { border-color: #17A2B8; }
}

@keyframes animate-card-border {
	to { border-color: #17A2B8; }
}