.splash {
	min-height: 100%;
	min-height: 100vh;
	background-image: url(../img/bluesky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 25% 100%;
	background-attachment: fixed;
}

.splash table {
	text-shadow: black 0.3em 0.3em 0.3em;
	color: #FFF;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 50%;
	transform: translate(0,-50%);
	cursor: default;
}

#darkfade {
	background:#262626;
	opacity:0;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	height:100vh;
}

#name {
	font-size: 70px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#front {
	z-index: 2;
	position: relative;
}

section {
	padding-top: 50px;
	padding-bottom: 100px;
}

#about, #projects h2, #projects .description, .project:hover h5 {
	color: #FFF;
}

#projects .description p, #experience .description p, .hitbox, .project .card-header, .card-body div {
	text-align: center;
}

#about .description {
	padding-top: 40px;
}

#about, #projects {
	background: #262626;
}

#headshot {
	margin-top:40px;
}

#phrase {
	color: #17A2B8;
	overflow: hidden;
	border-right: .15em solid #17A2B8;
	float: left;
	width: 247px;
	white-space: nowrap;
	margin: 0 auto;
}

.type {
	animation: 
    	typing 3s steps(40, end),
    	blink-caret .75s step-end infinite;
}

p a, p a:hover, .hovlight:hover h5 {
	color: #17A2B8;
}

#experience {
	background: #FFF;
}

#experience h2, #projects h2 {
	margin-bottom: 40px;
}

#experience hr {
	border-color:#FFF;
}

.hitbox, button {
	cursor: pointer;
}

.hovgrow:hover i {
	animation-name: growtext;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-ms-animation-name: growtext;
	-ms-animation-duration: .5s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-fill-mode: forwards;
	-ms-animation-play-state: running;
}

.grow i {
	transform: scale(1.1);
}

.exp {
	padding-top: 30px;
}

.align-hidden {
	margin-top:30px;
	margin-bottom:30px;
}

.exp-icon img {
	background: #262626;
	border-radius: 50%;
	transform: rotate(45deg);
}

.exp-icon {
	border-radius: 50%;
	transform: rotate(-45deg);
}

h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 45px;
	text-align: center;
}

h4 {
	font-family: 'Poiret One', cursive;
	font-size: 32px;
}

h5 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.card {
	display: block;
}

.project:hover .card-header {
	animation-name: background-fade;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-ms-animation-name: background-fade;
	-ms-animation-duration: .5s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-fill-mode: forwards;
	-ms-animation-play-state: running;
}

.project:hover {
	animation-name: border-fade;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-ms-animation-name: border-fade;
	-ms-animation-duration: .5s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-fill-mode: forwards;
	-ms-animation-play-state: running;
}

.project {
	margin-top: 40px;
}

.tools {
	padding: 0px;
	color: #FFF;
	text-align: center;
	cursor: default;
}

.tools li {
	display: inline-block;
	border-style: solid;
	border-width: 1.5px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.tools .language {
	background: #03A9F4;
	border-color: #015a83;
}

.tools .framework {
	background: #4CAF50;
	border-color: #285c29;
}

.tools .library {
	background: #FF9800;
	border-color: #814e00;
}

.tools .platform {
	background: #9C27B0;
	border-color: #54155f;
}

button {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	text-align: center;
}

.footer #connect {
	background: #17A2B8;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	position: relative;
	text-align: center;
}

.footer #endtag {
	background: #262626;
	padding: 10px;
	color: #FFF;
	position: relative;
	text-align: center;
}

#endtag p {
	margin: 0px;
}

.contact {
	margin-bottom: 3px;
}

.contact li {
	background: #FFF;
	border-radius: 50%;
	display: inline-block;
	padding: 0;
	margin-top: 4px;
	line-height: 60px;
	width: 60px;
	height: 60px;
	transform: translateX(-20px);
}

.contact li a {
	color:#17A2B8;
	font-size: 35px;
}

.contact li:hover {
	animation-name: fade-dark;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-ms-animation-name: fade-dark;
	-ms-animation-duration: .5s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-fill-mode: forwards;
	-ms-animation-play-state: running;
}

.contact li:hover a {
	color:#FFF;
}

.colfade {
	background: #FFF;
	animation-name: transcolor;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-ms-animation-name: transcolor;
	-ms-animation-duration: .5s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-fill-mode: forwards;
	-ms-animation-play-state: running;
}

@media screen and (max-width: 768px) {
	#name {
		font-size:16vw;
	}
	#title {
		font-size: 8vw;
	}
	.splash span {
		white-space:wrap;
	}
}
@media screen and (min-width: 768px) {
	#name {
		font-size:8vw;
	}
	#title {
		font-size:4vw;
	}
	.splash span {
		white-space:nowrap;
	}
}
@media screen and (max-width: 992px) {
	.exp {
		font-size: 200px;
	}
}
@media screen and (min-width: 992px) {
	.exp {
		font-size: 12vw;
	}
}
@media screen and (min-width: 549px) {
	.exp-icon img {
		border: 10px solid #262626;
	}
	
	.exp-icon {
		margin: 20px;
	}
	
	.exp-25 {
		border-right: 10px solid #FFF;
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	
	.exp-50 {
		border-right: 10px solid #FFF;
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}
	
	.exp-75 {
		border-right: 10px solid #FFF;
		border-top: 10px solid transparent;
		border-left: 10px solid #FFF;
		border-bottom: 10px solid #FFF;
	}
	
	.exp-100 {
		border: 10px solid #FFF;
	}
}
@media screen and (min-width: 400px) and (max-width: 549px) {
	.exp-icon img {
		border: 5px solid #262626;
	}
	
	.exp-icon {
		margin: 10px;
	}
	
	.exp-25 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
	
	.exp-50 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		border-bottom: 5px solid #FFF;
	}
	
	.exp-75 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid #FFF;
		border-bottom: 5px solid #FFF;
	}
	
	.exp-100 {
		border: 5px solid #FFF;
	}
}
@media screen and (min-width: 350px) and (max-width: 400px) {
	.exp-icon img {
		border: 5px solid #262626;
	}
	
	.exp-icon {
		margin: 5px;
	}
	
	.exp-25 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
	
	.exp-50 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid transparent;
		border-bottom: 5px solid #FFF;
	}
	
	.exp-75 {
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-left: 5px solid #FFF;
		border-bottom: 5px solid #FFF;
	}
	
	.exp-100 {
		border: 5px solid #FFF;
	}
}
@media screen and (max-width: 350px) {
	.exp-icon img {
		border: 3px solid #262626;
	}
	
	.exp-icon {
		margin: 0;
	}
	
	.exp-25 {
		border-right: 3px solid #FFF;
		border-top: 3px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 3px solid transparent;
	}
	
	.exp-50 {
		border-right: 3px solid #FFF;
		border-top: 3px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 3px solid #FFF;
	}
	
	.exp-75 {
		border-right: 3px solid #FFF;
		border-top: 3px solid transparent;
		border-left: 3px solid #FFF;
		border-bottom: 3px solid #FFF;
	}
	
	.exp-100 {
		border: 3px solid #FFF;
	}
}

@media screen and (min-width:476px) {
	.contact li {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width:475px) {
	.contact li {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@keyframes background-fade {
	to { background: #17A2B8; }
}
@keyframes border-fade {
	to { border-color: #17A2B8; }
}
@keyframes growtext {
	to { transform: scale(1.1); }
}
@keyframes fade-dark {
	to { background: #262626; }
}
@keyframes transcolor {
	from { background: #FFF; }
	to { background: #17A2B8;
		 color: white; }
}
@keyframes typing {
	from { width: 0 }
	to { width: 247px; }
}
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #17A2B8 }
}