#timeline ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#timeline li {
	display: inline-block;
	width: 20%;
}

#timeline table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border: 0 solid transparent;
}

#timeline .ribbon-left > div {
	float: left;
	border-top: 20px solid transparent;
	border-left: 15px solid white;
	border-bottom: 20px solid transparent;
}

#timeline .ribbon-right > div {
	float: right;
	border-top: 20px solid white;
	border-left: 15px solid transparent;
	border-bottom: 20px solid white;
}

#timeline th {
	padding: 0px;
}

#timeline .timeline-entry > div {
	position: relative;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	color: white;
}

#timeline .timeline-entry:hover > div {
	background-color: black;
}

#timeline .timeline-entry > div:before {
	content: '';
	position: relative;
	height: 30px;
	width: 2px;
	background-color: black;
	display: none;
	top: 100%;
}

#timeline .timeline-entry > div:after {
	position: relative;
	font-size: 15px;
	border: 2px solid black;
	padding: 10px;
	display: none;
	width: 250px;
	-webkit-transform: translatex(-50%);
		-ms-transform: translatex(-50%);
			transform: translatex(-50%);
}

#timeline .timeline-entry:hover > div:before,
#timeline .timeline-entry:hover > div:after {
	display: inline-block;
}

#timeline .timeline-date {
	margin-bottom: 10px;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 25px;
}

/* color individual ribbons */
#timeline li:nth-child(1) > table th {
	background-color: darkorange;
}

#timeline li:nth-child(2) > table th {
	background-color: darkcyan;
}
  
#timeline li:nth-child(3) > table th {
	background-color: darkorchid;
}
  
#timeline li:nth-child(4) > table th {
	background-color: darkslateblue;
}
  
/* add content to each timeline entry */
  
#timeline li:nth-child(1) .timeline-entry > div:after {
	content: 'Developed and released Paint Street Fighter';
	background-color: darkorange;
}
  
#timeline li:nth-child(2) .timeline-entry > div:after {
	content: 'Software Developer at InFlight Corporation';
	background-color: darkcyan;
}
  
#timeline li:nth-child(3) .timeline-entry:nth-child(2) > div:after {
	content: 'Launched personal website';
	background-color: darkorchid;
}
  
#timeline li:nth-child(3) .timeline-entry:nth-child(3) > div:after {
	content: 'Software Developer in Test at InFlight Corporation';
	background-color: darkorchid;
}
  
#timeline li:nth-child(3) .timeline-entry:nth-child(4) > div:after {
	content: 'Developed and released Imgrypt';
	background-color: darkorchid;
}
  
#timeline li:nth-child(3) .timeline-entry:nth-child(5) > div:after {
	content: 'Simulation Sub Team Member on WATonomous';
	background-color: darkorchid;
}

#timeline li:nth-child(4) .timeline-entry:nth-child(2) > div:after {
	content: 'Website redesign #1';
	background-color: darkslateblue;
}
  
#timeline li:nth-child(4) .timeline-entry:nth-child(3) > div:after {
	content: 'Application Developer at CareGo Tek Inc.';
	background-color: darkslateblue;
}
  
#timeline li:nth-child(4) .timeline-entry:nth-child(4) > div:after {
	content: 'Website redesign #2';
	background-color: darkslateblue;
}


@media screen and (min-width: 575.5px) and (max-width: 767.5px) {
	#timeline .timeline-entry > div {
		width: 7px;
		height: 7px;
	}

	#timeline .ribbon > div {
		border-left-width: 10px;
	}

	#timeline .timeline-entry > div:after {
		width: 150px;
	}

	#timeline {
		padding-bottom: 130px;
	}
}

@media screen and (min-width: 455.5px) and (max-width: 575.5px) {
	#timeline .timeline-date {
		font-size: 20px;
	}

	#timeline .timeline-entry > div {
		width: 7px;
		height: 7px;
	}

	#timeline .ribbon > div {
		border-left-width: 7px;
	}

	#timeline .timeline-entry > div:after {
		width: 150px;
	}

	#timeline {
		padding-bottom: 130px;
	}
}

@media screen and (min-width: 380px) and (max-width: 455.5px) {
	#timeline .timeline-entry > div {
		width: 5px;
		height: 5px;
	}

	#timeline .ribbon > div {
		border-left-width: 7px;
	}

	#timeline .timeline-date {
		font-size: 15px;
	}

	#timeline .timeline-entry > div:after {
		width: 100px;
	}

	#timeline {
		padding-bottom: 130px;
	}

	#timeline .timeline-entry > div:after {
		font-size: 12px;
	}
}

@media screen and (min-width: 300px) and (max-width: 380px) {
	#timeline .timeline-entry > div {
		width: 4px;
		height: 4px;
	}

	#timeline .ribbon > div {
		border-left-width: 5px;
	}

	#timeline .timeline-date {
		font-size: 15px;
	}

	#timeline .timeline-entry > div:after {
		width: 100px;
	}

	#timeline {
		padding-bottom: 130px;
	}

	#timeline .timeline-entry > div:after {
		font-size: 12px;
	}
}

@media screen and (max-width: 300px) {
	#timeline .timeline-entry > div {
		width: 1px;
		height: 1px;
	}

	#timeline .ribbon > div {
		border-left-width: 4px;
	}

	#timeline .timeline-date {
		font-size: 15px;
	}

	#timeline .timeline-entry > div:after {
		width: 100px;
	}

	#timeline {
		padding-bottom: 130px;
	}

	#timeline .timeline-entry > div:after {
		font-size: 12px;
	}
}