@import '../../_shared';

// local variables
$default-diameter: 50px;
$default-border: 1px;
$project-button-margin: 10px;
$footer-button-margin: 20px;
$footer-button-diameter: 57px;
$footer-button-border: 2px;

a.icon-button {
  @extend %theme-light-background;
  @extend %text-centered;
  @include circle($default-diameter);
  display: inline-block;
  border: $default-border solid $theme-dark;
  margin: 0;

  &.footer-button {
    @include size($footer-button-diameter);
    border-width: $footer-button-border;
    font-size: 35px;
    line-height: 50px;

    @media screen and (min-width: 390px) {
      margin: 0 $footer-button-margin 0 $footer-button-margin;
    }
  }

  &.project-button {
    position: absolute;
    font-size: 25px;
    line-height: 45px;

    &:nth-child(1) {
      right: $project-button-margin;
    }
    &:nth-child(2) {
      right: ($default-diameter + 2 * $project-button-margin);
    }
  }
  
  &:hover {
    @extend %theme-dark-background;
    border-color: $theme-light;
  }
}