@import '../../_shared';

// local variables
$section-spacing: 50px;
$headshot-spacing-bottom: 30px;

section {
  padding: $section-spacing 0 $section-spacing 0;
  overflow: hidden;

  &.dark {
    @extend %theme-dark-background;
  }

  &.light {
    @extend %theme-light-background;
  }

  .headshot {
    @extend %non-selectable;
    @include circle(100%);
    margin-bottom: $headshot-spacing-bottom;
  }
}