section {
  padding: 50px 0 100px 0;
  overflow: hidden;

  &.dark {
    background-color: #262626;
    color: #FFF;
  }

  &.light {
    background-color: #FFF;
    color: #000;
  }

  #headshot {
    margin-bottom: 30px;
  }
}