@import '../../_shared';

// local variables
$inner-padding: 5px;
$outer-padding: 15px;

footer {
  @extend %text-centered;
  @extend %theme-dark-background;

  div {
    padding: $inner-padding 0 $inner-padding 0;
    
    &:first-child {
      padding-top: $outer-padding;
    }
    &:last-child {
      padding-bottom: $outer-padding;
    }

    p {
      margin: 0;
    }
  
    .footer-button {
      @media screen and (max-width: 475px) {
        margin: 0;
      }
    }
  }
}