

.track-visible {
  .typewrite {
    width: 0;
    color: #17A2B8;
    overflow: hidden;
    border-right: .15em solid #17A2B8;
    white-space: nowrap;
    float: left;
    transition: width 3s;
    transition-timing-function: steps(40, end);
  }

  &.was-visible {
    .typewrite {
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #17A2B8 }
      }
    
      animation: blink-caret .75s step-end infinite;
    }
  }
}