

@import '../../_shared';

// local variables
$cursor-width: .15em;

.track-visible {
  .typewrite {
    @extend %non-selectable;
    width: 0;
    color: $theme-accent;
    overflow: hidden;
    border-right: $cursor-width solid $theme-accent;
    white-space: nowrap;
    float: left;
    transition: width 3s;
    transition-timing-function: steps(40, end);
  }

  &.was-visible {
    .typewrite {
      @include keyframes(blink-caret) {
        from, to { border-color: transparent }
        50% { border-color: $theme-accent }
      }
      @include animation(blink-caret .75s step-end infinite);
    }
  }
}